/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Color de fondo general */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8b0000; /* Color de fondo del encabezado */
  color: white;
}

header img {
  max-width: 100%;
  height: auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-info .phone {
  font-size: 16px;
  margin-top: 10px;
}

.hero {
  background-image: url('Images/background.jpg'); /* Imagen de fondo del héroe */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: white;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5em;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Estilos para los botones de desplegar/plegar y flechas */
.toggle-btn {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto 10px;
}

.toggle-btn:hover {
  background-color: #5c001e; /* Color vino tinto más oscuro al pasar el mouse */
}

.arrow {
  margin-left: 10px;
}

.menu-section {
  display: none; /* Inicialmente oculto */
}

.show {
  display: block; /* Mostrar el menú */
}

.hide {
  display: none; /* Ocultar el menú */
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.menu-item h3 {
  margin: 0;
}

.menu-item span {
  font-size: 18px;
  color: #333;
  margin-right: 20px;
}

.cart {
  margin-top: 40px;
  text-align: center;
}

.total {
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px;
}

.btn-primary {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .toggle-btn {
    padding: 8px 16px;
  }
}
